[submodule "ir_webstats"]
	path = ir_webstats
	url = https://github.com/jeysonmc/ir_webstats.git
	ignore = all
[submodule "pyirsdk"]
	path = pyirsdk
	url = https://github.com/kutu/pyirsdk.git
	ignore = all